/*setting background image for thr body and flex to center the child div
assiging values 100% for height and width to make it full screen
*/
body  {
    background-image: url("../assets/kym-mackinnon-aLiPz33NHAc-unsplash.jpg");
    background-color: #cccccc;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

/*set background color to the center div and opacity to make it transparent
set flex to make child divs have a column order
set padding for a nice look
*/
.form{
    background-color: rgba(255,255,255,.2);
    /*opacity: 0.5;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 25px 25px 25px;
    border-radius: 25px;
    min-width: 35%;
    min-height: 40%;

}

/*the bottom form has a flex display for its child divs*/
.bottom-form{
    display: flex;
    flex-direction: row;
}

/*
sub forms of the display form should each have 50% of width
*/
.sub-form{
    padding: 0px 10px 0px 10px;
    width: 50%;
}


/*
right sub-form has a flex display for its child element
*/
.right-sub-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*
left sub-form has a flex display for its child element
*/
.left-sub-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*
input div has a flex display for its child element
*/
.input{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* label in the input div has 20% of the width*/
.input label{
    width: 20%;
    margin: 2px;
}

/* input box in the input div has 60% of the width and 60% of the height*/
.input input{
    width: 60%;
    height: 60%;
    margin: 2px;
}

/*set a padding for prediction div for better look*/
#prediction-div{
    padding: 5px;
}

/*set the border of the saved answer area to dotted form and make it have a medium width*/
#saved-answer-div{
    border: dotted;
    border-width: medium;
    padding: 5px;
}
/*update the margin for the h2 tag in saved answer area*/
#saved-answer-div h2{
    margin: 0 0 20px 0;
}

/* set a global css for all buttons */
button{
    background-color: white;
    color: black;
    border: 2px solid; /* Green */
    border-radius: 8px;
    padding: 3px 10px 3px 10px;
    width: 70px;
    margin: 5px 0 5px 0;
}

/*set the css for the error message*/
.error{
    color: darkred;
    font-weight: bold;
}

/*set margin for radio box div*/
#radio-box-div{
    margin: 10px 0 25px 0;
}

